<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<title>エラー</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
</head>
<body>
	<div class="container" layout:fragment="content" th:remove="tag">
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-12">
					<div class="error-message-area">
						<p>
						アカウントの状態に問題があります。引き続きサービスを利用するためには、以下のページをご参照いただき、必要なリカバリを実施してください。
						</p>
					</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-12">
				<button type="button" class="btn btn-info btn-block">アカウントリカバリはこちら</button>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-12">
				<div th:include="fragment/customerCenterAddress :: content"></div>
			</div>
		</div>
	</div>
</body>
</html>