<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>エラー</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/vendor/bootstrap/css/bootstrap-umi.min.css}"
	href="../../static/css/vendor/bootstrap/css/bootstrap-umi.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main.css}"
	href="../../static/css/main.css" />
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-12">
				<div th:fragment="content">
					<p>上記をご確認いただき、ご不明点などございましたら、下記窓口までお電話でご連絡ください。</p>
					<address>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true" style="padding-right:5px;"></span>ディズニー・インターネットサービス・カスタマーセンター<br/>
						0570-66-6745<br/>
						営業時間：月－金 10:00－17:00<br/>
						（土・日・祝日・年末年始を除く）<br/>
						※PHS・一部のIP電話・国際電話からは<br/>
						045-226-3326
					</address>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/vendor/jquery-2.2.3.min.js}"
		src="../../static/js/vendor/jquery-2.2.3.min.js"></script>
	<script th:src="@{/js/vendor/bootstrap-umi.min.js}"
		src="../../static/js/vendor/bootstrap-umi.min.js"></script>
</body>
</html>