<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout"
>
<head>
<title>ログイン／新規登録</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-umi.min.css}"
	href="../../static/css/bootstrap-umi.min.css" />
</head>
<body>
<div layout:fragment="content">
	<h3 class="text-danger">ログイン／新規登録</h3>
</div>
	<script th:src="@{/js/lib/bootstrap-umi.min.js}"
		src="../../static/js/lib/bootstrap-umi.min.js"></script>
	<script th:src="@{/js/lib/jquery-2.2.3.min.js}"
		src="../../static/js/lib/jquery-2.2.3.min.js"></script>
</body>
</html>