<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>空メール送信確認</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
</head>
<body>
	<div class="container" layout:fragment="content" th:remove="tag">
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-12">
				<p>
				下記ボタンをタップして空メールを送信してください。自動返信メールに記載されたURLをタップして、次の手順に進んでください。
				</p>
			</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<div class="col-xs-12">
				<button type="button" id="sendEmptyMail" class="btn btn-lg btn-cyan600_rsd btn-block">空メール送信</button>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>
				<strong>
				メール受信制限をされている方
				</strong>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>
				メール受信制限（迷惑メール設定等）を行っている場合、下記ドメインからメール受信できるように設定の上、空メールを送信してください。
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<div  style="border:1px solid #D3D3D3; border-radius:10px;" >
					<p style="height:50px; line-height:55px;"><strong>disney.jp</strong></p>
				</div>
			</div>
		</div>
	</div>

	<script  layout:fragment="script" th:src="@{/js/emptymail.js}"
		src="../../static/js/emptymail.js"></script>
</body>
</html>