<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>メンバー登録情報入力</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
</head>
<body>
	<div class="container" layout:fragment="content" th:remove="tag">
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-12">
				<p>ディズニーハッピールームを利用するためにはメンバー登録が必要です。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<strong>メンバー登録情報入力</strong>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div th:if="${hasError}" class="error-message-area">
					<ul th:Object="${memberEntryForm}">
						<li th:each="e : ${#fields.detailedErrors()}"
							th:text="${e.message}" />
					</ul>
				</div>
				<div th:if="${memberRegistApiErrorMsg}" class="error-message-area">
					<ul>
						<li th:text="${memberRegistApiErrorMsg}" />
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>ディズニー公式スマートフォンメンバー登録のため、以下のメンバー情報を入力し、[確認する]ボタンをタップしてください。</p>
				<ul>
					<li><small>項目はすべて入力必須です。</small></li>
					<li><small>すでにディズニーアカウントをお持ちの方は、[戻る]ボタンをタップしてメンバーログインを行ってください。</small></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="info-area">
					<div class="text-center">
						<span class="text-info"><strong>生年月日</strong></span>
					</div>
					<div class="text-center">
						<span><strong th:text="${guest.getBirthDay()}">1901/1/1</strong></span>
					</div>
					<div class="text-center" style="margin-top:15px;">
						<span class="text-info"><strong>メールアドレス</strong></span>
					</div>
					<div class="text-center">
						<span><strong th:text="${guest.getMailAddress()}">abc@abc.xx.jp</strong></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-12">
				<form th:action="@{/Regist}" th:Object="${memberEntryForm}" method="POST">
					<div class="form-group">
						<label for="password">パスワード<br/><small>ご希望のパスワードを入力してください。</small></label>
						<input type="password" class="form-control" name="password" placeholder="半角英数字記号（6～25文字）" th:field="*{password}" />
					</div>
					<div class="form-group">
						<label for="password-confirm">パスワード（確認）</label>
						<input type="password" class="form-control" name="confirmPassword" placeholder="半角英数字記号（6～25文字）" th:field="*{confirmPassword}" />
					</div>
					<div class="form-group">
						<input type="radio" id="female" name="gender" value="F" th:field="*{gender}" checked="true" /><label for="female" style="margin-left:5px;">女性</label>
						<input type="radio" id="male" name="gender" value="M" th:field="*{gender}" style="margin-left:50px;"/><label for="male" style="margin-left:5px;">男性</label>
					</div>
					<button type="submit" class="btn btn-lg btn-cyan600_rsd btn-block">確認</button>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/js/vendor/jquery-2.2.3.min.js}"
		src="../../static/js/vendor/jquery-2.2.3.min.js"></script>
	<script th:src="@{/js/vendor/bootstrap-umi.min.js}"
		src="../../static/js/vendor/bootstrap-umi.min.js"></script>
</body>
</html>