<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<title>メンバー登録情報入力</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-umi.min.css}"
	href="../../static/css/bootstrap-umi.min.css" />
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-12">
				<p>
				ディズニーハッピールームを利用するためにはメンバー登録が必要です。
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<p><strong>メンバー登録情報入力</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>
				ディズニー公式スマートフォンメンバー登録のため、以下のメンバー情報を入力し、[確認する]ボタンをタップしてください。
				</p>
				<ul>
					<li>項目はすべて入力必須です。</li>
					<li>すでにディズニーアカウントをお持ちの方は、[戻る]ボタンをタップしてメンバーログインを行ってください。</li>
				</ul>
			</div>
		</div>
	</div>
	<script th:src="@{/js/lib/jquery-2.2.3.min.js}"
		src="../../static/js/lib/jquery-2.2.3.min.js"></script>
	<script th:src="@{/js/lib/bootstrap-umi.min.js}"
		src="../../static/js/lib/bootstrap-umi.min.js"></script>

</body>
</html>