<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>メンバー登録完了</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
</head>
<body>
	<div class="container" layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<strong>メンバー登録完了</strong>
				</h4>
				<img th:src="@{/img/thanks.png}" src="../../static/img/thanks.png" />
				<h2>
					<strong>THANK YOU!</strong>
				</h2>
				<p><strong>ご登録ありがとうございました!</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>※重要なご案内がありますので、必ずページ下部までお読みください。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="info-area">
					<div class="text-center">
						<span class="text-info"><strong>ご登録メールアドレス</strong></span>
					</div>
					<div class="text-center">
						<span><strong th:text="${member.getMailAddress()}">test123@abc.xx.jp</strong></span>
					</div>
					<div class="text-center" style="margin-top:15px;">
						<span class="text-info"><strong>発行されたメンバー名</strong></span>
					</div>
					<div class="text-center">
						<span><strong th:text="${member.getMemberName()}">_dsalq4ad1</strong></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<div class="col-xs-12">
				<p>
				「ディズニーアカウント 「メールアドレス確認」 のお願い」を上記メールアドレスにお送りしました。
				メール本文に記載されたURLをタップして、ディズニーアカウントの登録を完了させてください。
				メンバー名の変更についても記載しております。
				</p>
			</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<form th:action="@{/Regist}" method="POST">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-cyan600_rsd btn-block" th:text="${member.getServiceName()} + 'をたのしむ'">ディズニーシェアをたのしむ</button>
				</div>
				<input type="hidden" name="login" />
				<input type="hidden" name="memberName" th:value="${member.getMemberName()}" />
				<input type="hidden" name="password" th:value="${member.getPassword()}" />
				<input type="hidden" name="dspp" th:value="${member.getDspp()}" />
			</form>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12">
				<div class="text-center">
					<p><strong>ニュースメール購読設定</strong></p>
				</div>
				<p>
				ディズニーアカウントのニュースメール設定は、ディズニーアカウント登録情報変更からお手続きしてください。
				</p>
				<button type="button" class="btn btn-cyan600_rsd btn-block" onClick="window.open().location.href='https://secured.disney.co.jp/onlinehelp/membership.html'">ディズニーアカウントへ</button>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12">
				<p>
				ディズニーファンのためのメンバーズサイトでディズニー最新情報をいち早くチェックしよう！
				</p>
				<button type="button" class="btn btn-cyan600_rsd btn-block" onClick="window.open().location.href='https://secured.disney.co.jp/mydisney.html'">My Disneyへ</button>
			</div>
		</div>
	</div>
</body>
</html>